.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: #4d4b4b;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column; /* Change to column layout for small screens */
  width: 90%;
  max-width: 20%;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-image {
  margin-bottom: 20px;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.modal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.modal-details h2 {
  margin: 0;
  font-size: 24px;
}

.modal-price {
  font-size: 20px;
  color: orange;
  margin-bottom: 10px;
}

.modal-details p {
  margin: 10px 0;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}

.quantity-button {
  background-color: #FF7F27;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.add-button {
  background-color: #FF7F27;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.close-button {
  background-color: #ccc;
  color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

/* Media Query for tablets and small laptops */
@media only screen and (max-width: 1024px) {
  .modal-container {
    flex-direction: row; /* Stack content vertically */
    width: 70%;
    max-width: 100%;
  }

  .modal-image {
    margin-right: 0;
    margin-bottom: 10px; /* Add space between image and details */
  }

  .main-image {
    width: 100%;
    height: auto; /* Adjust to maintain aspect ratio */
  }

  .modal-details {
    align-items: center; /* Center the details */
    text-align: center;
  }

  .add-button, .close-button {
    width: 100px; /* Make buttons full-width */
    margin: 10px 0; /* Add space between buttons */
    margin-left: 150px;
  }
}


